* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

.title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.users-table,
th,
td {
  border: 1px solid #555555;
  border-collapse: collapse;
}

.users-table {
  width: 80%;
  margin: 0 auto;
}

th,
td {
  padding: 10px;
  width: 20%;
  text-align: left;
}

.buttons {
  margin: 50px auto;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
